tmp
/test
/build
/dist
node_modules
/.vscode
/.idea
/.github
/coverage
src/assets/
/src/assets/
package-lock.json

@schematics/default-app-http/src/@schematics/default-app-http/files/
@schematics/default-app-graphql/src/@schematics/default-app-graphql/files/

*.md
*.yml
*.sh